.red {
	color:red;
}
.green {
	color:green;
}
.blue {
	color:blue;
}
.orange {
	color:orange;
}
.yellow {
	color:yellow;
}
.purple{
	color:purple;
}
.indigo {
	color:indigo;
}
.free {
	color: transparent;
    background-clip: text;
	background-image: linear-gradient(90deg, red 0%, rgb(224, 155, 13) 20%, rgb(255, 0, 245) 40%, blue 55%, rgb(254, 6, 230) 75%, green 90%);
}



